<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.talha.learnstrument">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.talha.learnstrument.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.talha.learnstrument.QuestionsActivity">
            <intent-filter>
                <action android:name="com.example.talha.learnstrument.QuestionsActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.talha.learnstrument.DeveloperActivity">
            <intent-filter>
                <action android:name="com.example.talha.learnstrument.DeveloperActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.talha.learnstrument.ResultActivity"></activity>
    </application>

</manifest>